/Server/WebApplicationServer/bin/
/Server/WebApplicationServer/obj/
/Client/WindowsClientApplication/bin/
/Client/WindowsClientApplication/obj/
/Common/CommonTypes/bin/
/Common/CommonTypes/obj/
/packages/
/.vs/
db.lock
storage.ide
