﻿
@{
    ViewData["Title"] = "Index Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Prototype Application</h2>
        <p>
            Send the reaction in real time.
            <a href="./PresentationSupport/RealtimeReaction" class="btn btn-default">Realtime reaction</a>
        </p>
    </div>
</div>